NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YWxpdmUtc25pcGUtMjQuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_PRYuyls3NKGWtJPwOf9h2TD6LGqX3d9Je7VlbkWcqM

NEXT_PUBLIC_SUPABASE_URL=https://gmcwcawkqgiqqbtddchq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdtY3djYXdrcWdpcXFidGRkY2hxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU5MDgwMjgsImV4cCI6MjA4MTQ4NDAyOH0.xi6s03zgPt6OmjCv_v3LVmQ4TwIi3ikA-kgNfuTIy_Y
NEXT_PUBLIC_LIVEKIT_URL=wss://lecturesense-9w5ky0ob.livekit.cloud
LIVEKIT_API_KEY=APIWbn5gzV5reGz
LIVEKIT_API_SECRET=LIVEKIT_URL=wss://lecturesense-9w5ky0ob.livekit.cloud
LIVEKIT_API_KEY=APIWbn5gzV5reGz
LIVEKIT_API_SECRET=YB6oJLrdPWQ2eJXdboQ8dGMRrpp0DeruT5PJZLkepieA

DEEPGRAM_API_KEY=eb6a7665a29843b0c88f504a6f783b71038fc87e
